$light-grey: #f3f3f3;
$grey: #767676;
$blue: #1474fc;
$black: #000;

.smartbanner {
  position: absolute;
  top: 0;
  left: 0;

  overflow-x: hidden;

  width: 100%;
  height: 84px;

  background: $light-grey;

  font-family: Helvetica, sans, sans-serif;

  &__exit {

    position: absolute;
    top: calc(50% - 6px);
    left: 9px;

    display: block;
    margin: 0;


    width: 12px;
    height: 12px;

    border: 0;

    text-align: center;

    &::before,
    &::after {
      position: absolute;

      width: 1px;
      height: 12px;

      background: $grey;

      content: ' ';
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__icon {
    position: absolute;

    top: 10px;
    left: 30px;

    width: 64px;
    height: 64px;

    border-radius: 15px;
    background-size: 64px 64px;
  }

  &__info {
    position: absolute;

    top: 10px;
    left: 104px;

    display: flex;
    overflow-y: hidden;
    width: 60%;
    height: 64px;

    align-items: center;

    color: $black;

    &__title {
      font-size: 14px;
    }

    &__author,
    &__price {
      font-size: 12px;
    }

  }

  &__button {
    position: absolute;
    top: 32px;
    right: 10px;
    z-index: 1;

    display: block;
    padding: 0 10px;
    min-width: 10%;

    border-radius: 5px;

    background: $light-grey;

    color: $blue;
    font-size: 18px;
    text-align: center;
    text-decoration: none;

    &__label {
      text-align: center;
    }
  }

  /** Android styles **/
  &.smartbanner--android {
    background: #3d3d3d url('data:image/gif;base64,R0lGODlhCAAIAIABAFVVVf///yH5BAEHAAEALAAAAAAIAAgAAAINRG4XudroGJBRsYcxKAA7');
    box-shadow: inset 0 4px 0 #88b131;

    .smartbanner__exit {
      left: 6px;

      margin-right: 7px;
      width: 17px;
      height: 17px;

      border-radius: 14px;
      background: #1c1e21;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8) inset, 0 1px 1px rgba(255, 255, 255, 0.3);

      color: #b1b1b3;
      font-family: 'ArialRoundedMTBold', Arial;
      font-size: 20px;
      line-height: 17px;
      text-shadow: 0 1px 1px #000;

      &::before,
      &::after {
        top: 3px;
        left: 8px;

        width: 2px;
        height: 11px;

        background: #b1b1b3;
      }

      &:active,
      &:hover {
        color: #eee;
      }
    }

    .smartbanner__icon {
      background-color: transparent;
      box-shadow: none;
    }

    .smartbanner__info {
      color: #ccc;
      text-shadow: 0 1px 2px #000;

      &__title {
        color: #fff;
        font-weight: bold;
      }
    }

    .smartbanner__button {
      top: 30px;
      right: 20px;

      padding: 0;
      min-width: 12%;

      border-radius: 0;
      background: none;
      box-shadow: 0 0 0 1px #333, 0 0 0 2px #dddcdc;

      color: #d1d1d1;
      font-size: 14px;
      font-weight: bold;

      &:active,
      &:hover {
        background: none;
      }

      &__label {
        display: block;
        padding: 0 10px;

        background: #42b6c9;
        background: linear-gradient(to bottom, #42b6c9, #39a9bb);
        box-shadow: none;

        line-height: 24px;
        text-align: center;
        text-shadow: none;
        text-transform: none;

        &:active,
        &:hover {
          background: #2ac7e1;
        }
      }
    }
  }
}
