$light-grey: #f3f3f3;
$grey: #767676;
$blue: #1474fc;

.smartbanner {
  position: absolute;
  top: 0;
  left: 0;

  padding: 10px;

  width: 100%;
  height: 64px;

  background: $light-grey;

  font-family: Helvetica, sans, sans-serif;

  &__exit {

    position: absolute;
    top: calc(50% - 6px);

    display: block;
    margin: 0;


    width: 12px;
    height: 12px;

    border: 0;

    text-align: center;

    &::before,
    &::after {
      position: absolute;

      width: 1px;
      height: 12px;

      background: $grey;

      content: ' ';
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__icon {
    position: absolute;

    top: 10px;
    left: 30px;

    width: 64px;
    height: 64px;

    border-radius: 15px;
    background-size: 64px 64px;
  }

  &__info {
    position: absolute;

    top: 15px;
    left: 104px;

    width: 100%;
    height: 64px;

    &__title {
      font-size: 14px;
      line-height: 20px;
    }

    &__author,
    &__price {
      font-size: 12px;
      line-height: 16px;
    }

  }

  &__button {
    position: absolute;
    top: 32px;
    right: 35px;
    z-index: 1;

    display: block;
    padding: 0 10px;
    min-width: 10%;

    border-radius: 5px;

    background: $light-grey;

    color: $blue;
    font-size: 18px;
    text-align: center;
    text-decoration: none;

    &__label {
      text-align: center;
    }
  }
}
